@page "/"
@inject LocalizationService Localization

<PageTitle>@Localization.Translate("welcome")</PageTitle>

<h1>@Localization.Translate("welcome")</h1>

<p>@Localization.Translate("description")</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        Localization.OnLanguageChanged += RefreshUI;
    }
    private void RefreshUI()
    {
        StateHasChanged();
    }
}