@page "/projects"
@inject HttpClient Http

<h3>Projects</h3>

<ul>
    @foreach (var project in projects)
    {
        <li>
            <h4>@project?.Title</h4>
            <p>@project?.Description</p>
            <a href="@project?.Url" target="_blank" rel="noopener noreferrer">Visit Project</a>
        </li>
    }
</ul>

@code {
    private List<Project> projects = new List<Project>();

    protected override async Task OnInitializedAsync()
    {
        projects = await Http.GetFromJsonAsync<List<Project>>("api/projects");
    }

    public class Project
    {
        public int Id { get; set; }
        public string? Title { get; set; }
        public string? Description { get; set; }
        public string? Url { get; set; }
        
    }
}